In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier

In [22]:
train=pd.read_csv('../data/train.csv')
test=pd.read_csv('../data/test.csv')

In [23]:
# combine test dataset and train dataset
df =pd.concat([train, test], axis=0)

In [24]:
df_no_unknown = df[(df['job'] != 'unknown') & (df['education'] != 'unknown') & (df['marital'] != 'unknown') & (df['default'] != 'unknown') & (df['housing'] != 'unknown') & (df['loan'] != 'unknown')]
df_no_unknown.count()

id                  21372
age                 21372
job                 21372
marital             21372
education           21372
default             21372
housing             21372
loan                21372
contact             21372
month               21372
day_of_week         21372
duration            21372
campaign            21372
pdays               21372
previous            21372
poutcome            21372
emp_var_rate        21372
cons_price_index    21372
cons_conf_index     21372
lending_rate3m      21372
nr_employed         21372
subscribe           16010
dtype: int64

In [32]:
df_no_unknown['housing'] = df_no_unknown['housing'].map({'no': 0, 'yes': 1})
df_no_unknown['loan'] = df_no_unknown['loan'].map({'no': 0, 'yes': 1})
df_no_unknown['default'] = df_no_unknown['default'].map({'no': 0, 'yes': 1})
data_dum_df = pd.concat([
    df_no_unknown,
    pd.get_dummies(df_no_unknown['job']),
    pd.get_dummies(df_no_unknown['education']),
    pd.get_dummies(df_no_unknown['marital'])
], axis=1)
data_dum_df

C:\Users\CA.CA-PC\AppData\Local\Temp\ipykernel_10028\3173776525.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_unknown['housing'] = df_no_unknown['housing'].map({'no': 0, 'yes': 1})
C:\Users\CA.CA-PC\AppData\Local\Temp\ipykernel_10028\3173776525.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_unknown['loan'] = df_no_unknown['loan'].map({'no': 0, 'yes': 1})
C:\Users\CA.CA-PC\AppData\Local\Temp\ipykernel_10028\3173776525.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_unknown['default'] = df_no_unknown['default'].map({'no': 0, 'yes': 1})

,id,age,job,marital,education,default,housing,loan,contact,month,...,basic.4y,basic.6y,basic.9y,high.school,illiterate,professional.course,university.degree,divorced,married,single
0,1,51,admin.,divorced,professional.course,0,1,1,cellular,aug,...,False,False,False,False,False,True,False,True,False,False
2,3,48,blue-collar,divorced,basic.9y,0,0,0,cellular,apr,...,False,False,True,False,False,False,False,True,False,False
3,4,26,entrepreneur,single,high.school,1,1,1,cellular,aug,...,False,False,False,True,False,False,False,False,False,True
4,5,45,admin.,single,university.degree,0,0,0,cellular,nov,...,False,False,False,False,False,False,True,False,False,True
6,7,33,technician,married,high.school,0,1,0,cellular,aug,...,False,False,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7493,29994,41,blue-collar,married,basic.4y,0,1,0,cellular,may,...,True,False,False,False,False,False,False,False,True,False
7496,29997,34,blue-collar,married,basic.4y,0,0,0,cellular,jul,...,True,False,False,False,False,False,False,False,True,False
7497,29998,50,retired,single,basic.4y,0,1,0,cellular,jun,...,True,False,False,False,False,False,False,False,False,True
7498,29999,31,technician,married,professional.course,0,0,0,cellular,aug,...,False,False,False,False,False,True,False,False,True,False
7499,30000,46,admin.,divorced,university.degree,0,1,0,cellular,aug,...,False,False,False,False,False,False,True,True,False,False

In [33]:
features = ['housing', 'loan',
'admin.', 'blue-collar', 'entrepreneur', 'housemaid', 'management', 'retired', 'self-employed', 'services',
'student', 'technician', 'unemployed',
            'basic.4y', 'basic.6y', 'basic.9y', 'high.school', 'illiterate', 'professional.course', 'university.degree',
            'divorced', 'married', 'single'
]
target = ['default']
X = data_dum_df[features]
Y = data_dum_df[target]
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=99)

decision_tree = DecisionTreeClassifier(criterion='entropy', max_depth=10, min_samples_split=250)
decision_tree.fit(X_train, Y_train)

Y_pred = decision_tree.predict(X_test)
print("Accuracy:", accuracy_score(Y_test, Y_pred))

print(confusion_matrix(Y_test, Y_pred))
print(classification_report(Y_test, Y_pred))

score_cv = cross_val_score(decision_tree, X, Y, cv=5)
print(score_cv)
print(score_cv.mean())

Accuracy: 0.9934497816593887
[[6370    0]
 [  42    0]]
              precision    recall  f1-score   support

           0       0.99      1.00      1.00      6370
           1       0.00      0.00      0.00        42

    accuracy                           0.99      6412
   macro avg       0.50      0.50      0.50      6412
weighted avg       0.99      0.99      0.99      6412

[0.99321637 0.99298246 0.99344876 0.99344876 0.99344876]
0.9933090220481793

C:\Users\CA.CA-PC\IdeaProjects\JAPJC_Export\MM5425\lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\CA.CA-PC\IdeaProjects\JAPJC_Export\MM5425\lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\CA.CA-PC\IdeaProjects\JAPJC_Export\MM5425\lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))