In [1]:
import pandas as pd

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [3]:
# combine test dataset and train dataset
df =pd.concat([train, test], axis=0)
#df

In [4]:
# 描述性变量转换为数值型
cat_vars=[]
print('\n描述变量有：')
cols = df.columns.tolist()
for col in cols:
    if df[col].dtype == 'object':
        print(col)
        cat_vars.append(col)

描述变量有：
job
marital
education
default
housing
loan
contact
month
day_of_week
poutcome
subscribe

In [5]:
# 处理有序变量
from sklearn.preprocessing import LabelEncoder

job_le = LabelEncoder()
df['job'] =df['job'].map({'unknown': 0, 'admin.': 1, 'blue-collar': 2, 'entrepreneur': 3,'housemaid':4,'management':5,'retired':6,'self-employed':7,'services':8,'student':9,'technician':10,'unemployed':11})
df['job'].value_counts()

1     7383
2     6506
10    4731
8     2834
5     2164
6     1335
3     1158
7     1123
4      848
11     844
9      716
0      358
Name: job, dtype: int64

In [6]:
df['marital'].value_counts()
df['marital'] = df['marital'].map({'unknown': 0, 'single': 1, 'married': 2, 'divorced': 3})
df['marital'].value_counts()

2    17604
1     8417
3     3528
0      451
Name: marital, dtype: int64

In [7]:
df['education'].value_counts()

university.degree      8709
high.school            6774
basic.9y               4320
professional.course    3786
basic.4y               3071
basic.6y               1794
unknown                1330
illiterate              216
Name: education, dtype: int64

In [8]:
df['education'].value_counts()
df['education'] = df['education'].map({'unknown': 0, 'illiterate': 1, 'basic.4y': 2, 'basic.6y': 3,
                                       'basic.9y': 4, 'high.school': 5, 'university.degree': 6, 'professional.course': 7})
df['education'].value_counts()

6    8709
5    6774
4    4320
7    3786
2    3071
3    1794
0    1330
1     216
Name: education, dtype: int64

In [9]:
#housing	loan	contact	month	day_of_week	poutcome
df['housing'].value_counts()
df['housing'] = df['housing'].map({'unknown': 0, 'no': 1, 'yes': 2})
df['housing'].value_counts()

2    15449
1    13365
0     1186
Name: housing, dtype: int64

In [10]:
df['loan'] = df['loan'].map({'unknown': 0, 'no': 1, 'yes': 2})
df['loan'].value_counts()

1    23988
2     4817
0     1195
Name: loan, dtype: int64

In [11]:
df['contact'] = df['contact'].map({'cellular': 0, 'telephone': 1})
df['contact'].value_counts()

0    18876
1    11124
Name: contact, dtype: int64

In [12]:
# mon: 0, tue: 1, wed: 2, thu: 3, fri: 4
df['day_of_week'].value_counts()
df['day_of_week'] = df['day_of_week'].map({'mon': 1, 'tue': 2, 'wed': 3, 'thu': 4, 'fri': 5})
df['day_of_week'].value_counts()

4    6315
1    6133
3    5983
2    5891
5    5678
Name: day_of_week, dtype: int64

In [13]:
df['poutcome'] = df['poutcome'].map({'nonexistent': 0, 'failure': 1, 'success': 2})
df['poutcome'].value_counts()

0    19467
1     5924
2     4609
Name: poutcome, dtype: int64

In [14]:
df['default'].value_counts()
df['default'] = df['default'].map({'unknown': 0, 'no': 1, 'yes': 2})
df['default'].value_counts()

1    23015
0     6457
2      528
Name: default, dtype: int64

In [15]:
#df[cat_columns]
df['month'] = df['month'].map({'mar': 3, 'apr': 4, 'may': 5, 'jun': 6, 'jul': 7, 'aug': 8,
                               'sep': 9, 'oct': 10, 'nov': 11, 'dec': 12})
df['month'].value_counts()

5     9648
7     5060
8     4449
6     3857
11    2998
4     2005
10     641
3      545
9      528
12     269
Name: month, dtype: int64

In [16]:
df['subscribe'] = df['subscribe'].map({'no': 0, 'yes': 1})
df['subscribe'].value_counts()

0.0    19548
1.0     2952
Name: subscribe, dtype: int64

In [17]:
# 3. 划分数据集
# 设置测试集的大小（数据集的最后7500行）
test_size = 7500

# 使用iloc根据行数分割数据集
train_nochange = df.iloc[:-test_size]  # 训练集：除去最后7500行的所有行
# 测试集：最后7500行，并删除'subscribe'列
test_nochange = df.iloc[-test_size:].drop('subscribe', axis=1)

In [18]:
# 导出到CSV文件
train_nochange.to_csv('train_nochange.csv', index=False)
test_nochange.to_csv('test_nochange.csv', index=False)